form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  margin: 10px 0;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #449d44;
}

/* Results Styles */

.results-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.results-calories {
  font-size: 1.5em;
  font-weight: bold;
}